<div id="<%= dom_id report %>">
  <p>
    <strong>Name:</strong>
    <%= report.user.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= report.body %>
  </p>

</div>
